/* 10:47:40 */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* .heading{
  color: #f15039;
}
.text{
  color: #32ff0e;
}
.main-text {
  color: #1313fa;
}
.second-heading{
  color: #f15039;
} */

:root {
  --primaryColor: #1313fa;
  --secondaryColor: #f15025;
  --mainTransition: all 0.4s linear;
}
.heading {
  color: var(--primaryColor);
}
.second-heading {
  color: var(--primaryColor);
  transition: var(--mainTransition);
}
.second-heading:hover {
  color: var(--secondaryColor);
}
div {
  --primaryRed: red;
}
.main-text {
  color: var(--primaryRed);
}
.third-heading {
  color: var(--primaryRed);
}
