/* 10:08:15 */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

div {
  width: 150px;
  height: 150px;
  display: inline-block;
}
.one {
  background: red;
}
.two {
  background: green;
}
.three {
  background: blue;
  transition: background 3s;
}
.three:hover {
  border-radius: 50%;
  background: coral;
}
