/* 4:40:32 */

#first {
  color: #808A9F;
  background: #D7CEB2;
}
#second {
  color: #fff;
  background: #00ff00;
}
#three {
  color: #0000ff;
  background: #f15025;
}
#four {
  color: #f234ad;
  background: #222222;
}
